.gc-alert, .gc-notification {
    border: 5px solid $govuk-border-colour;
    padding: 15px 15px 0px 15px;
    box-shadow: none;
    margin-bottom: 15px;
    display: block;
    background:  govuk-colour('white');
}

.gc-alert--info, .gc-notification--info {
    border: 5px solid govuk-colour('blue');
}
.gc-alert--success, .gc-notification--success {
    border: 5px solid govuk-colour('green');
}
.gc-alert--warning, .gc-notification--warning {
    border: 5px solid govuk-colour('orange');
}

