$gc-dark-grey: #323232;
$gc-mid-grey: #525051;
$gc-light-grey: #dbdad9;
$gc-light-blue: #8cb6db;
$gc-dark-blue: #2c3d50;
$gc-teal: #1a97b5;
$gc-green: #99CC00;
$gc-purple: #81017E;
$gc-orange: #ff7900;
$gc-beta: #feb935;


.gc-background-teal{background: $gc-teal !important;}
.gc-background-green{background: $gc-green !important;}
.gc-background-purple{background: $gc-purple !important;}
.gc-background-orange{background: $gc-orange !important;}
.gc-background-dark-blue{background: $gc-dark-blue !important;}