

.gc-text-right {
    text-align: right;
}

.gc-text-centre {
    text-align: center;
}

.gc-text-uppercase {
    text-transform: uppercase;
}

.gc-text-lowercase {
    text-transform: lowercase
}

.gc-text-capitalize {
    text-transform: capitalize
}


@media (min-width: 40.0625em) {
    .govuk-fieldset__heading > .govuk-fieldset__legend--l,
    .govuk-heading-l, .govuk-fieldset__heading {
      line-height: 1.28 !important;
    }
  }

  address, .address{font-style: normal;}