.gc-tag--active{background-color: govuk-colour("green") !important;}
.gc-tag--inactive{background-color: govuk-colour("mid-grey") !important;}
.gc-tag--done{background-color: govuk-colour("black") !important;}