

.gc-text-right {
    text-align: right;
}

.gc-text-centre {
    text-align: center;
}

.gc-text-uppercase {
    text-transform: uppercase;
}

.gc-text-lowercase {
    text-transform: lowercase
}

.gc-text-capitalize {
    text-transform: capitalize
}
