.gc-vertical-nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
}

@media print {
  .gc-vertical-nav {
    font-family: "Oxygen", Arial;
  }
}

@media (min-width: 40.0625em) {
  .gc-vertical-nav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding-left: 15px;
  }
}

@media print {
  .gc-vertical-nav {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .gc-vertical-nav {
    margin-left: -15px;
  }
}

.gc-vertical-nav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.gc-vertical-nav__link {
  display: block;
  padding: 8px 30px 8px 10px;
  // border-left:4px solid $govuk-border-colour;
  text-decoration: none;
  margin-bottom: 5px;
}

.gc-vertical-nav__section-item {
  border-left: 4px solid $govuk-border-colour;
}

.gc-vertical-nav__section-item:hover {
  border-left: 4px solid $govuk-link-hover-colour;
}

.gc-vertical-nav__link:focus {
  background: inherit;

}

.gc-vertical-nav__section-item--current {
  border-left: 4px solid govuk-colour("blue");
  font-weight: 700;
  background: #f3f2f1;
}

.gc-vertical-nav__link:hover,
.gc-vertical-nav__link:active {
  color: govuk-colour("blue");
  border-left-color: govuk-colour("blue");
  text-decoration: none;
  box-shadow: none;
  outline: none;  
}

.gc-vertical-nav__link:focus {  
  background: govuk-colour("yellow");
  color: govuk-colour("black");
  text-decoration: none;
  box-shadow: none;
  outline: none;  
}

.gc-vertical-nav__section-item--current .gc-vertical-nav__link {
  border-left-color: govuk-colour("blue");
  font-weight: bold;
}

.gc-vertical-nav__section-item--current .gc-vertical-nav__link:hover {
  text-decoration: none;
}

.gc-vertical-nav__section--nested {
  margin-bottom: 5px;
}

.gc-vertical-nav__section--nested .gc-vertical-nav__link {
  padding-left: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: -5px;
}

.gc-vertical-nav__section--nested .gc-vertical-nav__section-item::before {
  content: "—";
  margin-left: -20px;
  color: govuk-colour("dark-grey");
}

.gc-vertical-nav--count {
  float: right;
  //margin-top: 6px;
  // margin-right: 7px;
  background: #b1b4b6;
  padding: 9px 5px 9px 5px;
  border-radius: 0px;
  color: #0b0c0c;
  font-weight: 700;
  min-width: 25px;
  text-align: center;
  font-size: 12px;
}


@media print {
  .gc-vertical-nav__theme {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .gc-vertical-nav__theme {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }


  .gc-vertical-nav--count {
    padding: 10px 5px 10px 5px;
  }
}

@media print {
  .gc-vertical-nav__theme {
    font-size: 14pt;
    line-height: 1.15;
  }
}