{% extends "layout_hero.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
        </div>
      </details>
   
    </div>
  </div>
</div>



{% endblock %}