{% extends "layout_hero.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


      <div class="govuk-grid-row gc-promo-group">
        <div class="govuk-grid-column-one-third gc-promo-group__item">
          <div class="gc-promo app-promo--grey">
            <a class="gc-promo__link-wrapper" href="/strategy">

              <div class="gc-promo__content">
                <h3 class="gc-promo__heading">The strategy</h3>
                <p class="gc-promo__description">Reducing gambling harms strategy</p>
              </div>
            </a>
          </div>
        </div>

        <div class="govuk-grid-column-one-third gc-promo-group__item">
          <div class="gc-promo app-promo--grey">
            <a class="gc-promo__link-wrapper" href="/delivery">
              <div class="gc-promo__content">
                <h3 class="gc-promo__heading">Delivery</h3>
                <p class="gc-promo__description">Delivering progress and actions through partnerships
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="govuk-grid-column-one-third gc-promo-group__item">

          <div class="gc-promo app-promo--grey">
            <a class="gc-promo__link-wrapper" href="#">
              <img class="gc-promo__img" src="/public/images/chips.jpg" alt="#">
              <div class="gc-promo__content">
                <h3 class="gc-promo__heading">A long news title which is made up of exactly 60 characters.</h3>
                <p class="gc-promo__description">18 June 2019</p>
              </div>
            </a>
          </div>
        </div>




        <div class="govuk-grid-column-one-half gc-promo-group__item">
          <div class="gc-panel-with-label">
            <h3 class="gc-panel-with-label__label">Maintain your licence</h3>
            <p>You need to submit your maintenance application by 11 November 2019</p>
            <button class="govuk-button">Start maintenance</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="gc-hero">

  <div class="govuk-width-container gc-hero--border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="gc-hero__wrapper">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-3">We’re here for you</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-0">Helping you take control of your health and wellbeing.</p>
          
        </div>
      </div>
    </div>
  </div>

</section>

<section class="gc-hero gc-hero--image gc-hero--image-description" style="background-image: url('https://assets.nhs.uk/prod/images/S_0818_homepage_hero_1_F0147446.width-1000.jpg');">
  <div class="gc-hero__overlay">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="gc-hero-content">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">We’re here for you</h1>
            <p class="govuk-body govuk-!-margin-bottom-0">Helping you take control of your health and wellbeing.</p>
            <span class="gc-hero__arrow" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>


  <details class="gc-details gc-expander">
    <summary class="gc-details__summary">
      <span class="gc-details__summary-text">
        Opening times
      </span>
    </summary>
    <div class="gc-details__text">
      <table>
        <tbody>
          <tr>
            <th><strong>Day of the week</strong></th>
            <th><strong>Opening hours</strong></th>
          </tr>
          <tr>
            <th>Monday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Tuesday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Wednesday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Thursday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Friday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Saturday</th>
            <td>9am to 1pm</td>
          </tr>
          <tr>
            <th>Sunday</th>
            <td>Closed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </details>

{% endblock %}